# Python
*.pyc
__pycache__/

# Virtual environment
.venv/
env/
venv/

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Google service account / credentials
service_account.json
credentials.json

# Flask logs
*.log*
